.header-main {
  align-items: center;
  color: var(--white);
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;
  position: fixed;
  height: var(--header-height);
  width: 100%;
  z-index: 2;
}

.header-main > h1 {
  color: var(--accent-color);
  cursor: default;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.header-category-select {
  width: 10rem;
}
