.mansonry-wrapper {
  columns: 3;
  gap: 15px;
}

.mansonry-image {
  cursor: pointer;
  margin-bottom: 15px;
  transition: transform 0.25s ease-in-out;
  width: 100%;
}

.mansonry-image:hover {
  transform: scale(1.02);
}
