.mansonry-wrapper {
  columns: 4;
  gap: 15px;
}

.mansonry-image {
  cursor: pointer;
  margin-bottom: 15px;
  transition: transform 0.25s ease-in-out;
  width: 100%;
}

.mansonry-image:hover {
  transform: scale(1.02);
}

@media only screen and (max-width: 1050px) {
  .mansonry-wrapper {
    columns: 3;
  }
}

@media only screen and (max-width: 750px) {
  .mansonry-wrapper {
    columns: 2;
  }
}

@media only screen and (max-width: 550px) {
  .mansonry-wrapper {
    columns: 1;
    gap: 0;
  }
  .mansonry-image {
    margin-bottom: 5px;
  }
}
